{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 ">
    <div class="card mt-5">
      <div class="card-body py-3">
        <div class="card-title">
          <h4>Please enter your email to get reset link</h4>
        </div>
        <form action='{% url "request-password" %}' method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
          <div class="form-group mb-3">
            <input type="email" name="email" class="form-control form-control-sm" id="emailField" placeholder="Email" value="{{fieldValues.email}}">
          </div>
          <div class=" email-feedbackArea" style="display:none">
          </div>
          <p class="text-sm text-success emailSuccessOutput"></p>

          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary submit-btn" value="submit">
          </div>
        </form>
        <span class='text-lead lead'>Don't have an account? <a class='btn btn-secondary btn-sm' href="{% url 'register' %}">Register</a></span><br>
        <span class='text-lead lead'>Have an account?<a class='btn btn-secondary btn-sm' href="{% url 'login' %}">Login</a></span>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


<script src="{% static 'js/register.js' %}"></script>


{% endblock %}